@font-face {
    font-family: Marzo;
    /* Гарнитура шрифта */
    src: url(/font/marzo.woff/Marzo.woff2);
    /* Путь к файлу со шрифтом */
    src: url(/font/marzo.woff/Marzo.woff);
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 2;
    font-family: Marzo-Regular, Marzo, Courier New, Courier, monospace;
}

body {
    background: url('./w1280-1800.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    color: goldenrod;
    margin: 4px;
    text-align: center;
    text-shadow: 1px 5px 10px -5px black;
    font-size: 25px;
    letter-spacing: 1rem;
}

.name {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 5px 10px -5px black;
}

.header {
    margin-bottom: 45px;
}

.white-block {
    padding: 2px;
    background: rgba(65, 66, 66, 0.9);
}

.gray-block {
    padding: 2px;
    background: rgba(65, 66, 66, 0.9);
}

.dws-menu * {
    margin: 0;
    padding: 0;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu>ul {
    display: flex;
    justify-content: center;
}

.dws-menu>ul li {
    position: relative;
    border-right: 1px solid #c7c8ca;
}

.dws-menu>ul li:first-child {
    border-left: 1px solid #b2b3b5;
}

.dws-menu>ul li:last-child {
    border-right: 1px solid #babbbd;
}

.dws-menu>ul li>a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.dws-menu>ul li a {
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    background: rgb(201, 201, 201);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0);
    /* IE6-9 */
    padding: 5px 40px 5px 50px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dws-menu li a:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
    background: rgb(224, 225, 229);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5', GradientType=0);
    /* IE6-9 */
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}


/*sub menu*/

.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.dws-menu li>ul li {
    border: 1px solid #c7c8ca;
}

.dws-menu li>ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.dws-menu li>ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}

.dws-menu li:hover>ul {
    display: block;
}


/*==== MEDIA ====*/

.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu {
    display: none;
}

.dws-menu label.toggleMenu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    background: rgb(201, 201, 201);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0);
    /* IE6-9 */
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.dws-menu label.toggleMenu .fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

@media all and (max-width: 800px) {
    .dws-menu {
        overflow: hidden;
    }
    .dws-menu ul {
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
    }
    .dws-menu li>ul li ul {
        position: absolute;
        right: auto;
        top: auto;
    }
    .dws-menu label.toggleMenu {
        display: block;
    }
    input.toggleMenu:checked+label.toggleMenu {
        background: #000;
        color: #fff;
    }
    input.toggleMenu:checked~ul,
    input.toggleSubmenu:checked~ul {
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }
    .dws-menu label.toggleSubmenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    input.toggleSubmenu:checked~a {
        background: #454547;
        color: #fff;
    }
    .dws-menu label.toggleSubmenu .fa:before {
        content: "\f0d7";
        color: #454547;
    }
    .dws-menu label.toggleSubmenu .fa {
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .dws-menu input.toggleSubmenu:checked~label.toggleSubmenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }
}

.coach .photo {
    max-width: 49%;
    height: auto;
    display: block;
    float: left;
    margin: 0px 5px 5px 0px;
    background: rgba(163, 167, 170, 0.0);
}

.zal {
    display: flex;
    margin: 1%;
}

.photo-zal1 {
    max-width: 49%;
    margin: 1%;
    height: auto;
    justify-content: center;
}

.photo-zal2 {
    max-width: 49%;
    margin: 1%;
    height: auto;
    justify-content: center;
}

.coach .description {
    background: rgba(163, 167, 170, 0.0);
    padding: 3px;
}

.coach .description h2,
.coach .description p {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2,
.kdb p {
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    text-shadow: 1px 15px 10px 15px black;
    font-family: Arial, Cambria, Cochin, Georgia, serif;
}

#footer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    background: rgba(10, 10, 10, 0.95);
    color: white;
    font-family: Ubuntu-Regular, Arial, Cambria, Cochin, Georgia, serif;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

.icons {
    margin: 20px;
    width: 48%;
    float: right;
}

.viber {
    border-radius: 50%;
    max-width: 8%;
    margin-right: 1%;
    height: auto;
}

.whatsapp {
    border-radius: 50%;
    max-width: 8%;
    margin-right: 1%;
    height: auto;
}

.tel {
    border-radius: 50%;
    max-width: 8%;
    margin-right: 1%;
    height: auto;
}

@media screen and (min-width:1024px) {
    .name {
        font-size: 3.2rem;
    }
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.5rem;
    }
    .kdb {
        font-size: 20px;
    }
     .coach .photo {
        height: 450px;
        width: auto;    
    }   
}

@media screen and (max-width:1024px) {
    .name {
        font-size: 3.2rem;
    }
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.5rem;
    }
    .kdb {
        font-size: 20px;
    }
     .coach .photo {
        
        width: auto;    
    } 
}

@media screen and (max-width:800px) {
    .name {
        font-size: 3.2rem;
    }
    h1 {
        font-size: 1.1rem;
        letter-spacing: 0.5rem;
    }
    .kdb {
        font-size: 20px;
    }
    .photo-zal1 {
        max-width: 99%;
        margin: 1%
    }
    .photo-zal2 {
        max-width: 99%;
        margin: 1%
    }
    .zal {
        flex-direction: column;
    }
     .viber {
        max-width: 25%;
        margin-right: 3%;
    }
    .whatsapp {
        max-width: 25%;
        margin-right: 3%;
    }
    .tel {
        max-width: 25%;
        margin-right: 3%;
    }
}

@media screen and (max-width:500px) {
    .name {
        font-size: 2.5rem;
    }
    h1 {
        font-size: 0.9rem;
        letter-spacing: 0.4rem;
    }
    .kdb {
        font-size: 14px;
    }
    .coach .photo {
        margin: 0px 6px 6px 0px;
    }
    .photo-zal1 {
        max-width: 99%;
        margin: 1%
    }
    .photo-zal2 {
        max-width: 99%;
        margin: 1%
    }
    
    .zal {
        flex-direction: column;
    }
    .viber {
        max-width: 25%;
        margin-right: 5%;
    }
    .whatsapp {
        max-width: 25%;
        margin-right: 5%;
    }
    .tel {
        max-width: 25%;
        margin-right: 5%;
    }
}

@media screen and (max-width:330px) {
    .name {
        font-size: 2rem;
    }
    h1 {
        font-size: 0.7rem;
        letter-spacing: 0.3rem;
    }
    .kdb {
        font-size: 12px;
    }
    .coach .photo {
      
        margin: 0px 3px 3px 0px;
    }
    .photo-zal1 {
        max-width: 99%;
        margin: 1%
    }
    .photo-zal2 {
        max-width: 99%;
        margin: 1%
    }
    
    .zal {
        flex-direction: column;
    }
    .viber {
        max-width: 30%;
        margin-right: 1%;
    }
    .whatsapp {
        max-width: 30%;
        margin-right: 1%;
    }
    .tel {
        max-width: 30%;
        margin-right: 1%;
    }
}


